# Homework for week 4

## Function 1- string to integer

#### 1. Convert String Number to Integer
Create a function that can take something like ```"$5,356"``` or ```"$250,000"``` or even ```"$10.75"``` and covert into integers like return ```5356```, ```250000``` and ```11``` respectively.

In [ ]:
## build function here and call it clean_numbers
def clean_numbers(some_string_number):
  '''
  Enter a number or a list of numbers that are in a string format, and I will convert it to an integer.
  '''
  amount = some_string_number.replace("$","").replace(",","")
  return round(float(amount))

In [ ]:
## call the function on "$5,356"
## Did you get 5356?
clean_numbers("$5,356")

5356

In [ ]:
## call the function on "$10.75"
## Did you get 11?

clean_numbers("$10.75")

11

In [ ]:
## Use map() to run your function on the following list
## save result in a list called updated_list
my_amounts = ["$12.24", "$4,576.33", "$23,629.01"]

updated_list = list(map(clean_numbers, my_amounts))
updated_list

[12, 4576, 23629]

### 3. What if we encounter a list that has a mix of numbers as strings and integers and floats?

In [1]:
## Run this cell
more_amounts = [960, "$12.24", "$4,576.33", "$23,629.01", 23.656]

In [ ]:
## tweaked the function here to handle all situations
def clean_numbers(some_string_number):
  '''
  Enter a number or a list of numbers. 
  The items can be strings, integers, floats or a mix of all. 
  I will convert it to an integer.
  '''
  if isinstance(some_string_number, str): 
    amount = round(float(some_string_number.replace("$","").replace(",","")))

  else:
    amount = round(float(some_string_number))

  return amount

In [ ]:
## run it on more_amounts using map()
list(map(clean_numbers, more_amounts))

[960, 12, 4576, 23629, 24]