# Week 2 - Flow Control

#### The following play critical roles:  
1. Indentation - running blocks of code.
2. Time Delays - pacing the speed of our code.
3. For Loops - iterating through data
4. For Loops through multiple but related lists
5. For Loops through Dictionaries
6. Conditional Statements

## 1. Indentation

* Python is unique in requiring indentations.
* Indentations signify the start and end of code that belongs together (code blocks).
* Without proper indentation, your code won't do what you expect.
* Not working as expected? Check if you have indented correctly!

### Basic Flow Example: A Counter

In [3]:
## Using a While loop build a counter that counts from 1 to 5.
## Print the counter numbers in statement that reads "The count is" whatever the count is.
## Once it reaches 5, it should print "Done counting to 5!"

count = 1
while count <=5:
    print(f"The count is {count}")
    count = count +1
print("done counting to 5")

The count is 1
The count is 2
The count is 3
The count is 4
The count is 5
done counting to 5

### You just controlled flow using indentation and a while loop.

<img src="https://github.com/sandeepmj/fall20-student-practical-python/raw/dd310ff836feaff1c237bc12469196b9c2cc24b0/support_files/indent1.png" style="width: 70%;">

<img src="https://github.com/sandeepmj/fall20-student-practical-python/raw/dd310ff836feaff1c237bc12469196b9c2cc24b0/support_files/indent2.png" style="width: 70%;">

<img src="https://github.com/sandeepmj/fall20-student-practical-python/raw/dd310ff836feaff1c237bc12469196b9c2cc24b0/support_files/indent3.png" style="width: 70%;">

## How fast does our code run?

In [5]:
import datetime as dt

counter = 1
while counter <6:
    current = dt.datetime.now() # the exact current time
    print(f"The count is {counter} and this process ran at {current}")
#     counter = counter + 1
    counter += 1
print("Done printing to 5")

The count is 1 and this process ran at 2021-09-13 13:59:17.292169
The count is 2 and this process ran at 2021-09-13 13:59:17.292419
The count is 3 and this process ran at 2021-09-13 13:59:17.292441
The count is 4 and this process ran at 2021-09-13 13:59:17.292453
The count is 5 and this process ran at 2021-09-13 13:59:17.292464
Done printing to 5

## 2. Time Delays

**Delay timers** are critical when scraping data from websites for several reasons. The **two** most important reasons are:

1. Sometimes your scraper clicks on links and must wait for the content to actually populated on the new page. Your script is likely to run faster than a page can load.


2. You don't want your scraper to be mistaken for a hostile attack on a server. You have to slow down the scrapes.

### Step 1 - Import required libraries

In [7]:
import time # time is required. we will use its sleep function
# import datetime as dt ## we already imported this earlier, but you'd need it if starting fresh

#### Let's add a 5-second delay:

In [8]:
counter = 1
while counter <6:
    current = dt.datetime.now() # the exact current time
    print(f"The count is {counter} and this process ran at {current}")
#     counter = counter + 1
    counter += 1
    time.sleep(5)
print("Done printing to 5")

The count is 1 and this process ran at 2021-09-13 14:04:38.373754
The count is 2 and this process ran at 2021-09-13 14:04:43.378471
The count is 3 and this process ran at 2021-09-13 14:04:48.382150
The count is 4 and this process ran at 2021-09-13 14:04:53.387505
The count is 5 and this process ran at 2021-09-13 14:04:58.392683
Done printing to 5

### Randomize

Software that tracks traffic to a server might grow suspicious about a hit every nth seconds.

Let's **randomize** the time between hits by using ```randint``` from the ```random``` library.


You might sometimes see me use ```randrange``` from the ```random``` library: ``` from random import randrange```.

#### What's the difference?

**Difference 1**

```randrange``` is exclusive of the final range value.

```randint``` is inclusive of the final range value.

**Difference 2**

```randrange``` allows you to add a step: ```randrange(start, end, step)```

```randint ``` only has start and end: ```randint(start, end)

In [14]:
from random import randint # import necessary library

randint(0,10)

10

In [43]:
from random import randrange ## import necessary library
randrange(0, 10)

9

In [45]:
# we've already imported random
counter = 1
while counter <6:
    
    mysnoozer = randint(4, 10)
    current = dt.datetime.now() # the exact current time
    print(f"The count is {counter} and this process ran at {current}.\
    snooze for {mysnoozer} seconds!")
    counter += 1
    
    time.sleep(mysnoozer)
print("Done printing to 5")

The count is 2 and this process ran at 2021-09-13 14:16:08.828190.    snooze for 4 seconds!
The count is 3 and this process ran at 2021-09-13 14:16:12.823716.    snooze for 10 seconds!
The count is 4 and this process ran at 2021-09-13 14:16:22.818039.    snooze for 10 seconds!
The count is 5 and this process ran at 2021-09-13 14:16:32.818888.    snooze for 10 seconds!
The count is 6 and this process ran at 2021-09-13 14:16:42.819294.    snooze for 7 seconds!
Done printing to 5

In [46]:
pip install icecream

Requirement already satisfied: icecream in /usr/local/anaconda3/lib/python3.8/site-packages (2.1.1)
Requirement already satisfied: pygments>=2.2.0 in /usr/local/anaconda3/lib/python3.8/site-packages (from icecream) (2.8.1)
Requirement already satisfied: colorama>=0.3.9 in /usr/local/anaconda3/lib/python3.8/site-packages (from icecream) (0.4.4)
Requirement already satisfied: executing>=0.3.1 in /usr/local/anaconda3/lib/python3.8/site-packages (from icecream) (0.8.0)
Requirement already satisfied: asttokens>=2.0.1 in /usr/local/anaconda3/lib/python3.8/site-packages (from icecream) (2.0.5)
Requirement already satisfied: six in /usr/local/anaconda3/lib/python3.8/site-packages (from asttokens>=2.0.1->icecream) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [59]:
from icecream import ic

In [60]:
rent = 1000
food = 400
expenses = rent + food

In [61]:
print(f"the total expenses is: {expenses} and rent is {rent} and food is {food} ")

the total expenses is: 1400 and rent is 1000 and food is 400

In [62]:
ic(rent)

ic| rent: 1000

1000

In [63]:
ic(expenses)

ic| expenses: 1400

1400

## 3. For Loops

### For Loops are your best friend - most used Python expression for journalists:

### Iterate over:
* data stored in a list and run some calculation on each value;
* a list of URLs and visit each site to scrape data;
* data stored in dictionary keys and values and return what you are looking for.

## A simple ```for loop``` example:

<img src="https://github.com/sandeepmj/fall20-student-practical-python/raw/dd310ff836feaff1c237bc12469196b9c2cc24b0/support_files/forloop2.png" style="width: 70%;">

<img src="https://github.com/sandeepmj/fall20-student-practical-python/raw/dd310ff836feaff1c237bc12469196b9c2cc24b0/support_files/forloop3.png" style="width: 70%;">

<img src="https://github.com/sandeepmj/fall20-student-practical-python/raw/dd310ff836feaff1c237bc12469196b9c2cc24b0/support_files/forloop4.png" style="width: 70%;">

<img src="https://github.com/sandeepmj/fall20-student-practical-python/raw/dd310ff836feaff1c237bc12469196b9c2cc24b0/support_files/forloop5.png" style="width: 70%;">

<img src="https://github.com/sandeepmj/fall20-student-practical-python/raw/dd310ff836feaff1c237bc12469196b9c2cc24b0/support_files/forloop6.png" style="width: 70%;">

<img src="https://github.com/sandeepmj/fall20-student-practical-python/raw/dd310ff836feaff1c237bc12469196b9c2cc24b0/support_files/forloop7.png" style="width: 70%;">

<img src="https://github.com/sandeepmj/fall20-student-practical-python/raw/dd310ff836feaff1c237bc12469196b9c2cc24b0/support_files/forloop8.png" style="width: 70%;">

<img src="https://github.com/sandeepmj/fall20-student-practical-python/raw/dd310ff836feaff1c237bc12469196b9c2cc24b0/support_files/forloop9.png" style="width: 70%;">

<img src="https://github.com/sandeepmj/fall20-student-practical-python/raw/dd310ff836feaff1c237bc12469196b9c2cc24b0/support_files/forloop10.png" style="width: 70%;">

<img src="https://github.com/sandeepmj/fall20-student-practical-python/raw/dd310ff836feaff1c237bc12469196b9c2cc24b0/support_files/forloop11.png" style="width: 70%;">

<img src="https://github.com/sandeepmj/fall20-student-practical-python/raw/dd310ff836feaff1c237bc12469196b9c2cc24b0/support_files/forloop12.png" style="width: 70%;">

## Let's take **For Loops** for test drive:

In [76]:
## RUN THIS CELL - Use this list of CEO salaries from 1985 
ceo_salaries_1985 = [150_000, 201_000, 110_000, 75_000, 92_000, 55_000]
ceo_salaries_1985

[150000, 201000, 110000, 75000, 92000, 55000]

In [66]:
## Print each salary with in the following format:
## "A CEO earned [some value] in 1985."
for each_salary in ceo_salaries_1985:
    print(f"A ceo earned ${each_salary:,} in 1985")

A ceo earned $150,000 in 1985
A ceo earned $201,000 in 1985
A ceo earned $110,000 in 1985
A ceo earned $75,000 in 1985
A ceo earned $92,000 in 1985
A ceo earned $55,000 in 1985

In [74]:
## Now update each salary to 2019 dollars.
## Print the following info:
## "A CEO's salary of [1985 salary] in 1985 is worth [updated salary] in 2019 dollars."
## The CPI for 1985 is 107.6
## The 2019 CPI is 255.657
## The formula is: updated_salary = (oldSalary/oldCPI) * currentCPI
salaries_2019 = []
old_salary = [150_000, 201_000, 110_000, 75_000, 92_000, 55_000]
for ceo in old_salary:
    updated_salary = (ceo/107.6) * 255.657
    print(f"A CEO's salary of ${ceo:,} in 1985 is worth ${updated_salary:,.0f}\
    in 2019 dollars.")
    salaries_2019.append(updated_salary)

A CEO's salary of $150,000 in 1985 is worth $356,399    in 2019 dollars.
A CEO's salary of $201,000 in 1985 is worth $477,575    in 2019 dollars.
A CEO's salary of $110,000 in 1985 is worth $261,359    in 2019 dollars.
A CEO's salary of $75,000 in 1985 is worth $178,200    in 2019 dollars.
A CEO's salary of $92,000 in 1985 is worth $218,591    in 2019 dollars.
A CEO's salary of $55,000 in 1985 is worth $130,680    in 2019 dollars.

In [75]:
salaries_2019

[356399.16356877325,
 477574.8791821562,
 261359.3866171004,
 178199.58178438662,
 218591.4869888476,
 130679.6933085502]

In [77]:
ceo_salaries_1985

[150000, 201000, 110000, 75000, 92000, 55000]

In [78]:
sals_2019 = [(salary/107.6) * 255.657 for salary in ceo_salaries_1985]
sals_2019

[356399.16356877325,
 477574.8791821562,
 261359.3866171004,
 178199.58178438662,
 218591.4869888476,
 130679.6933085502]

## 4. For Loops through multiple but related lists

In [79]:
##  RUN THIS CELL - You scrape a site and each datapoint is stored in different lists
first_names = ["Irene", "Ursula", "Elon", "Tim"]
last_names = ["Rosenfeld", "Burns", "Musk", "Cook"]
titles = ["Chairman and CEO", "Chairman and CEO", "CEO", "CEO"]
companies = ["Kraft Foods", "Xerox", "Tesla", "Apple"]
industries = ["Food and Beverage", "Process and Document Management", "Auto Manufacturing", "Consumer Technology"]

#### Use ```zip()``` to zip lists together

In [83]:
## with zip
## also print what each type of data is.

ceo_list = []
for item in zip(first_names, last_names, titles, companies, industries):
    print(item)
    print(type(item))
    ceo_list.append(item)

('Irene', 'Rosenfeld', 'Chairman and CEO', 'Kraft Foods', 'Food and Beverage')
<class 'tuple'>
('Ursula', 'Burns', 'Chairman and CEO', 'Xerox', 'Process and Document Management')
<class 'tuple'>
('Elon', 'Musk', 'CEO', 'Tesla', 'Auto Manufacturing')
<class 'tuple'>
('Tim', 'Cook', 'CEO', 'Apple', 'Consumer Technology')
<class 'tuple'>

In [82]:
item

('Tim', 'Cook', 'CEO', 'Apple', 'Consumer Technology')

In [84]:
ceo_list

[('Irene',
  'Rosenfeld',
  'Chairman and CEO',
  'Kraft Foods',
  'Food and Beverage'),
 ('Ursula',
  'Burns',
  'Chairman and CEO',
  'Xerox',
  'Process and Document Management'),
 ('Elon', 'Musk', 'CEO', 'Tesla', 'Auto Manufacturing'),
 ('Tim', 'Cook', 'CEO', 'Apple', 'Consumer Technology')]

In [ ]:
## zip it and store in a list called ceo_list

In [85]:
## export to a pandas dataframe
import pandas as pd
df = pd.DataFrame(ceo_list)
df.columns =["first_name", "last_name", "title", "company", "industry"]
df

,first_name,last_name,title,company,industry
0,Irene,Rosenfeld,Chairman and CEO,Kraft Foods,Food and Beverage
1,Ursula,Burns,Chairman and CEO,Xerox,Process and Document Management
2,Elon,Musk,CEO,Tesla,Auto Manufacturing
3,Tim,Cook,CEO,Apple,Consumer Technology

In [91]:
## export to a csv
filename = "ceo_bios.csv"
df.to_csv(filename, index = False, encoding ="UTF-8")

In [92]:
## recall that dictionaries are like columns and rows in a csv
## let's turn this csv into a dataframe
pd.read_csv("ceo_bios.csv")

,first_name,last_name,title,company,industry
0,Irene,Rosenfeld,Chairman and CEO,Kraft Foods,Food and Beverage
1,Ursula,Burns,Chairman and CEO,Xerox,Process and Document Management
2,Elon,Musk,CEO,Tesla,Auto Manufacturing
3,Tim,Cook,CEO,Apple,Consumer Technology

## Turn tuples into lists

In [93]:
## zip lists into a list of lists
ceo_list = []
for item in zip(first_names, last_names, titles, companies, industries):
    print(list(item))
    print(type(list(item)))
    ceo_list.append(list(item))

['Irene', 'Rosenfeld', 'Chairman and CEO', 'Kraft Foods', 'Food and Beverage']
<class 'list'>
['Ursula', 'Burns', 'Chairman and CEO', 'Xerox', 'Process and Document Management']
<class 'list'>
['Elon', 'Musk', 'CEO', 'Tesla', 'Auto Manufacturing']
<class 'list'>
['Tim', 'Cook', 'CEO', 'Apple', 'Consumer Technology']
<class 'list'>

## 5. For Loops through Dictionaries

In [94]:
## You have a list of CEO salaries from 1969.
sals_1969 = [47_000, 65_000, 39_000, 96_000]
sals_1969

[47000, 65000, 39000, 96000]

In [95]:
## We need the value of these salaries updated for every decade till 2019
## Here are the CPIs for each decade in list of dictionaries from 1969 to 2019.

decades_cpi = [
   {"year": 1979, "cpi": 72.6,},
    {"year": 1989, "cpi": 124}, 
    {"year": 1999, "cpi": 166.6},
    {"year": 2009, "cpi": 214.537},
    {"year": 2019, "cpi": 255.657}
              ]

## Show the contents of this list of dictionaries
decades_cpi

[{'year': 1979, 'cpi': 72.6},
 {'year': 1989, 'cpi': 124},
 {'year': 1999, 'cpi': 166.6},
 {'year': 2009, 'cpi': 214.537},
 {'year': 2019, 'cpi': 255.657}]

In [96]:
## What datatype is decades_cpi
type(decades_cpi)

list

In [97]:
# Check what type of data each list item is within decades_cpi

for item in decades_cpi:
    print(type(item))

<class 'dict'>
<class 'dict'>
<class 'dict'>
<class 'dict'>
<class 'dict'>

In [107]:
## Print out each value in this format:
## "key --> value"
decades_cpi[0]
for decade in decades_cpi:
#     print(decade)
    for key, value in decade.items():
        print(f"{key} ---->{value}")
    print("********")

year ---->1979
cpi ---->72.6
********
year ---->1989
cpi ---->124
********
year ---->1999
cpi ---->166.6
********
year ---->2009
cpi ---->214.537
********
year ---->2019
cpi ---->255.657
********

In [110]:
value

255.657

### The key alternates between the strings "year" and "cpi" in this loop.

### How do we actually target the values for "year" and "cpi" and place them in our calculations?

In [113]:
## show it here:

for decade in decades_cpi:
    that_year = decade.get("year")
    old_cpi = decade.get("cpi")
    print(old_cpi)

72.6
124
166.6
214.537
255.657

In [114]:
old_cpi

255.657

In [137]:
sals_1969

[47000, 65000, 39000, 96000]

In [134]:
## Loop through each salary and update its value for each decade
sals_1969

updated_sals = []
   
cpi_69 = 36.7
## iterate through list of salaries with for loop
for salary in sals_1969:
    
#     ic(salary)
    
 ## iterate through list of dictionaries to retrive year and old cpi
    for decade in decades_cpi:
         
        that_year = decade.get("year")
        old_cpi = decade.get("cpi")
#         ic(that_year)
#         ic(old_cpi)
        ## calc updated salary for that decade
        updated_salary = (salary/cpi_69) * old_cpi
#         ic(updated_salary)
        updated_sals.append(updated_salary)

In [135]:
len(updated_sals)

20

In [136]:
updated_sals

[92975.47683923703,
 158801.0899182561,
 213356.9482288828,
 274747.6566757493,
 327408.14713896456,
 128583.10626702996,
 219618.5286103542,
 295068.11989100813,
 379970.1634877384,
 452798.5013623978,
 77149.86376021798,
 131771.11716621253,
 177040.8719346049,
 227982.09809264305,
 271679.1008174387,
 189907.35694822887,
 324359.67302452313,
 435792.9155313351,
 561186.7029972752,
 668748.5558583107]

## 6. Conditional Statements

In [11]:
## create a list of 10 random numbers anywhere from -100 to 100 
##name the list numbers
import random
numbers = random.sample(range(-100, 101), 10)
numbers

[14, 13, 95, 43, -13, 83, 30, 98, -9, 36]

## Create conditional statements that tell us if the last number and the penultimate number are positive or negative.
## Print a sentence that reads:
```
"The last number [what is it?] is [positive or negative] while 
 the penultimate number [what is it?] is [negative or positive]."
```

In [5]:
## if else statements
if numbers[-2] > 0:
    pen_status = "positive"
else: 
    pen_status = "negative"
if numbers[-1] > 0:
    last_status = "positive"
else:
    last_status = "negative"   
print(f"The last number {numbers[-1]} is {last_status} while \
 the penultimate number {numbers[-2]} is {pen_status}.")

The last number -66 is negative while  the penultimate number -73 is negative.

## Tenary Expression
```variable = value1 if some_condition else value2```

In [12]:
## ternary expression
# as ternary expression

pen_status  = "positive" if numbers[-2] > 0 else "negative"
last_status = "positive" if numbers[-1] > 0 else "negative"
print(f"The last number {numbers[-1]} is {last_status} while \
 the penultimate number {numbers[-2]} is {pen_status}.")

The last number 36 is positive while  the penultimate number -9 is negative.

## Multiple Tenary Expression
```variable = value1 if condition1 else value2 if condition2 else value3 ```

In [13]:
## A simple example
x, y = 10, 1

In [14]:
'''
write a simple if else statement that prints out x is greater than y,
or y is greater than x or if they are equal.
'''
if x > y:
    print(f"{x} is greater than {y}")
elif x < y:
    print(f"{x} is less than {y}")
else:
    print(f"{x} and {y} are equal")

10 is greater than 1

In [22]:
## Now as a ternary
print(f"x ({x}) is greater than y ({y})" if x > y\
      else f"x ({x}) is less than y ({y})" if x < y\
      else "x and y are equal")

x (10) is greater than y (1)

## Conditionals as Tuples

```("False: Does not meet condition", "True: Meets condition")[conditional expression]```

In [23]:
age = 20

In [25]:
## conditional tuple

z = ("Too young to buy alcohol legally in US!",
     "Can buy alcohol legally in the uS!")[age >= 21]
z

'Too young to buy alcohol legally in US!'

In [26]:
((f"x, {x} is less than y {y}",\
 f"x {x} is equal to y {y}",\
  f"x {x} is greater y {y}"))[[x < y, x == y, x > y].index(True)]

'x 10 is greater y 1'

## Challenge

Write a tenary expression to update the first conditional exercise above to deal Zeros. For example if the random list generates:

```[46, 30, 31, -56, 18, 57, -90, 81, 0, 0]```

It should print out:

```The last number (0) is neither negative or positive at zero while the penultimate number (0) is neither negative or positive at zero.```

In [ ]:
## activate the list
numbers = [46, 30, 31, -56, 18, 57, -90, 81, 0, 0]

In [ ]:
## write your multiple ternary expression