# Week 3 - Functions

The real power in any programming language is the **Function**.

A function is:

* a little block of script (one line or many) that performs specific task or a series of tasks.
* reusable and helps us make our code DRY.
* triggered when something "invokes" or "calls" it.
* ideally modular â€“ it performs a narrow task and you call several functions to perform more complex tasks.

### What we'll cover today:

* Simple function
* Return statements

In [ ]:
## Build a function called myFunction that adds 2 numbers together
## it should print "The total is (whatever the number is)!"

In [ ]:
## build it here

def add_numbers(number1, number2):
    total = number1 + number2
    print(f"The total is {total}")

In [ ]:
## Call myFunction using 4 and 5 as the arguments
add_numbers(4, 5)

In [ ]:
## Call myFunction using 10 and 2 as the arguments
add_numbers(10, 2)

In [ ]:
x, y = 10, 20
add_numbers(x, y)

In [ ]:
## you might forget what arguments are needed for the function to work.
## you can add notes that appear on shift-tab as you call the function.
## write it here

def add_numbers(number1, number2):
    '''
    needs 2 numbers as arguments
    will add them together and print total
    '''
    total = number1 + number2
    print(f"The total is {total}")

In [ ]:
## test it on 3 and 4
add_numbers(3, 4)

### To use or not use functions?

Let's compare the two options with a simple example:

In [18]:
## You have a list of numbers. 
mylist1 = [1, -5, 22, -44.2, 33, -45]

In [ ]:
## Turn each number into an absolute number.
## a for loop works perfectly fine here.
for number in mylist1:
    print(abs(number))

In [19]:
## The problem is that your project keeps generating more lists.
## Each list of numbers has to be turned into absolute numbers
mylist2 = [-56, -34, -75, -111, -22]
mylist3 = [-100, -200, 100, -300, -100]
mylist4 = [-23, -89, -11, -45, -27]
mylist5 = [0, 1, 2, 3, 4, 5]

In [ ]:
for number in mylist5:
    print(abs(number))

## DRY


### Do you keep writing for loops for each list?

### No, that's a lot of repetition!
### DRY stands for "Don't Repeat Yourself"

In [ ]:
for number in mylist3:
    print(abs(number))

In [ ]:
## Instead we write a function that takes a list,
## converts each list item to an absolute number,
## and prints out the number

def abs_vals(list_name):
    '''
    convert each list item into a absolute number
    requires a list
    '''
    for number in list_name:
        print(abs(number))

In [ ]:
## Try swapping out different lists into the function:
abs_vals(mylist4)

## Timesaver 
### Imagine for a moment that your editor tells you that the calculation needs to be updated. Instead of needing the absolute number, you need the absolute number minus 5.

### Having used multiple for loops, you'd have to change each one. What if you miss one or two? Either way, it's a chore.

### With functions, you just revise the function and the update runs everywhere.

In [ ]:
def abs_vals(list_name):
    '''
    convert each list item into a absolute number
    requires a list
    '''
    for number in list_name:
        print(abs(number)-5)

In [ ]:
## So if an editor says to actually multiply the absolute number by 1_000_000,

def abs_vals(list_name):
    '''
    convert each list item into a absolute number
    requires a list
    '''
    for number in list_name:
        print(abs(number)* 1_000_000)

In [ ]:
## Try swapping out different lists into the function:
abs_vals(mylist4)

## Return Statements

### So far we have only printed out values processed by a function. 

### But we really want to retain the value the function creates. 

### We can then pass that value to other parts of our calculations and code.

In [ ]:
## Simple example
## A function that adds two numbers together and prints the value:
def add_numbers(number1, number2):
    '''
    needs 2 numbers as arguments
    will add them together and print total
    '''
    total = number1 + number2
    print(f"The total is {total}")

In [ ]:
## call the function with the numbers 2 and 4
add_numbers(2, 4)

In [ ]:
## let's try to save it in a variable called myCalc
myCalc = add_numbers(2, 4)

In [ ]:
## Print myCalc. What does it hold?
print(myCalc)

In [ ]:
type(myCalc)

### The return Statement

In [1]:
## Tweak our function by adding return statement
## instead of printing a value we want to return a value(or values).
def add_numbers(number1, number2):
    '''
    needs 2 numbers as arguments
    will add them together and print total
    and return the total
    '''
    return (number1 + number2)
    print(f"The total is {number1} + {number2}")

In [2]:
## call the function add_numbers_ret 
## and store in variable called myCalc
myCalc = add_numbers(12, 4)
myCalc

16

In [3]:
## print myCalc
myCalc

16

In [ ]:
## What type is myCalc?
type(myCalc)

## Return multiple values

In [4]:
## demo function

def get_person(name, age, country):
    '''
    takes name as string, age as int, country as string
    returns name in allcaps, age x 100, country lowercased
    '''
    return name.upper(), age*100, country.lower()

In [14]:
x,y,z = get_person("David", 35, "France")

In [10]:
name, age, country = get_person("Olivia", 40, "India")

In [15]:
z

'france'

### Let's revise our earlier absolute values converter with a return statement
#### Here is the earlier version:
<img src="https://github.com/sandeepmj/fall20-student-practical-python/blob/master/support_files/abs-function.png?raw=true" style="width: 100%;">

In [26]:
## your function returns a list of values that have been converted to absolute values
def abs_vals(list_name):
    '''
    take a list, return updated list with absolute numbers
    '''
    absolute_list = []
    for number in list_name:
        absolute_list.append(abs(number))
    return absolute_list

In [28]:
## Let's actually make that a list comprehension version of the function:

def abs_vals_lc(list_name):
    '''
    take a list, return updated list with absolute numbers
    '''
    return [abs(number) for number in list_name]

In [31]:
x = abs_vals_lc(mylist3)
x

[100, 200, 100, 300, 100]

In [32]:
type(x)

list

In [27]:
abs_vals(mylist1)

[1, 5, 22, 44.2, 33, 45]

In [ ]:
## Let's test it by storing the return value in variable x

In [ ]:
## What type of data object is it?

# Make a function more flexible and universal

* Currently, we have a function that takes ONLY a list as an argument.
* We'd have to write another one for a single number argument.

In [36]:
## try using return_absolutes_lc on a single number like -10
## it will break
abs_vals(1)

TypeError: 'int' object is not iterable

In [37]:
abs_vals([1, 10, -10])

[1, 10, 10]

# Universalize our absolute numbers function

In [38]:
## call the function make_abs
def make_abs(a_number):
    return abs(a_number)

In [39]:
## try it on -10
make_abs(-10)

10

In [40]:
## Try it on mylist3 - it will break!
make_abs(mylist3)

TypeError: bad operand type for abs(): 'list'

## We can use the ```map()``` function to tackle this problem.

```map()``` takes 2 arguments: a ```function``` and ```iterable like a list```.

In [44]:
## try it on make_abs and mylist3
updated_list = list(map(make_abs, mylist5))
updated_list

[0, 1, 2, 3, 4, 5]

In [ ]:
## save it into a list

## ```map()``` also works for multiple iterables

#### remember our ```add_numbers_ret``` function.

In [48]:
## here it is again:

def add_numbers(number1, number2):
    return (number1 + number2)

In [49]:
## two lists
a_even = [2, 4, 6, 8]
a_odd = [1, 3, 5, 7, 9] ## note this has one more item in the list.

In [50]:
## run map on a_even and a_odd
b = list(map(add_numbers, a_even, a_odd))
b

[3, 7, 11, 15]

## Functions that call other funcions

In [51]:
## let's create a function that returns the square of a number
def sq_me(number):
    '''
    takes a number, returns its square
    '''
#     return number * number
#     return number**2
    return pow(number, 2)

In [52]:
## what is 9 squared?
sq_me(9)

81

### Making a point here with a simple example
Let's say we want to add 2 numbers together and then square that result.
Instead of writing one "complex" function, we can call on our modular functions.

In [53]:
add_numbers(10, 12)

22

In [58]:
## a function that calls our modular functions

def making_a_point(number1, number2):
    '''
    uses sq_me to square
    uses add_numbers to add 2 numbers
    '''
    return(sq_me(add_numbers(number1, number2)))

In [59]:
## call make_point() on 2 and 5
making_a_point(2,5)

49